// =========================================================================================
// Rounded Corners Mixins
// =========================================================================================


@mixin rounded ($radius: 5px, $top: "", $right: "", $bottom: "", $left: "") {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;

  @if $top != "" {
  	border-top-left-radius: $top;
  	border-top-right-radius: $top;
  	-moz-border-radius-topleft: $top;
  	-moz-border-radius-topright: $top;
  }

  @if $right != "" {
  	border-top-right-radius: $right;
  	border-bottom-right-radius: $right;
  	-moz-border-radius-topright: $right;
  	-moz-border-radius-bottomright: $right;
  }

  @if $bottom != "" {
  	border-bottom-left-radius: $bottom;
  	border-bottom-right-radius: $bottom;
  	-moz-border-radius-bottomleft: $bottom;
  	-moz-border-radius-bottomright: $bottom;
  }

  @if $left != "" {
  	border-top-left-radius: $left;
  	border-bottom-left-radius: $left;
  	-moz-border-radius-topleft: $left;
  	-moz-border-radius-bottomleft: $left;
  }

}